<div class="icons">
  <a class="icons__link" href=""><i class="icons__item fa fa-youtube"></i></a>
  <a class="icons__link" href=""><i class="icons__item fa fa-facebook-square"></i></a>
  <a class="icons__link" href=""><i class="icons__item fa fa-twitter"></i></a>
  <a class="icons__link" href=""><i class="icons__item fa fa-instagram"></i></a>
  <a class="icons__link" href=""><i class="icons__item fa fa-phone-square"></i></a>
  <a class="icons__link" href=""><i class="icons__item fa fa-wifi"></i></a>
</div>
