<section class="about">
  <h2 class="about__title title">
    about us
  </h2>
  <div class="about__content">
    <div class="about__image">
      <span class="about__subtitle">
        {{ settingsService.fullName }}
      </span>
    </div>
    <p class="about__text">
      At {{ settingsService.fullName }}, we strive to put fans first. Every day we're listening to your feedback
      and working to improve your experience before, during, and after events.
    </p>
    <p class="about__text">
      {{ settingsService.fullName }} merged to create Berlin Entertainment. Now you have more options than ever
      to enjoy live events, and things are only getting better. We're making real changes and putting you first in
      everything we do. Here's just a taste of what we're up to...
    </p>
  </div>
</section>
