<footer class="footer">
  <img
  class="footer__image"
  src="../../../assets/logo/logo_col.svg"
  alt="logo-color">
  <div class="footer__info">
    <div class="footer__block">
      <p class="footer__text">{{ settingsService.hallInfo.name }}</p>
      <p class="footer__text">{{ settingsService.hallInfo.address }}</p>
      <p class="footer__text">{{ settingsService.hallInfo.phone }}</p>
    </div>
    <div class="footer__block footer__block_right">
      <p class="footer__text">{{ settingsService.hallInfo.fax }}</p>
      <p class="footer__text">{{ settingsService.hallInfo.email }}</p>
      <app-icons class="footer__icons"></app-icons>
    </div>
  </div>
</footer>
