.title {
  font-family: DIN Pro-Black;
  font-size: 2.2rem;
  margin-bottom: 2rem;
  outline: none;
  text-transform: uppercase;
}

.title:hover {
  cursor: pointer;
  color: #07ace8;
  transition: .3s;
}
