:host {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}

.main {
  display: flex;
  // filter: blur(5px);

  &__content {
    margin-top: .7rem;
    width: 75%;
  }
}

.container {
  margin: 0 auto;
  width: 1150px;
}
